:root {
  --spacer: 1rem;
  --flow-content: 3rem;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*******************/
/* utility classes */
/*******************/

.flow-content > * + * {
  margin-top: var(--flow-content);
}

.container {
  padding: 0 var(--spacer);
  max-width: 40rem;
  margin: 0 auto;
}

.align-right {
  text-align: end;
}

.hidden {
  display: none;
}
